@font-face {
    font-family: Anitto;
    src: url(./font/Anitto.otf);
}
@font-face {
    font-family: Gothic;
    src: url(./font/BankGothicMediumBT.TTF);
}
.navbar{
    position: fixed;
    z-index: 1;
    width: 100%;
}
.logo{
    font-family: Anitto;
    font-size: small;
}

.item-nav{
    font-family: Gothic;
}
.img-div-one{
    width: 100%;
    height: 400px;
}
.divone{
    display: flex;
    flex-direction: column;
    height: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
    max-height: 100%;
}

.banner-img{
    max-height: 100%;
}
.preloader-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s
}

.fade-out-animation{
    opacity: 0;
    visibility: hidden;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}
.card-clr{
    background-color: #cbdad4;
    border: none;
}
.card-clr:hover{
    background-color: #96c2b0;
}

.banner-img-two{
    max-height: 100%;
}
.bg{
    background-image: url('./images/final.jpg');
    min-height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bg-one{
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent-div{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.head-contact-me{
    font-family: Gothic;
    color: white;
}
.para-div{
    max-width: 100%;
    overflow-wrap: break-word;
    color: rgb(0, 0, 0);
    background-color: white;
    opacity: 40%;
    border-radius: 5px;
}
.sub-div{
    display: flex;
    margin-top: 5px;
}
.left-sub{
    width: 50%;
    text-align: right;
}
.right-sub{
    width: 50%;
}
.inp1{
    width: 100%;
    opacity: 40%;
    border-radius: 5px;
}
.inp2{
    width: 100%;
    margin-top: 5px;
    opacity: 40%;
    border-radius: 5px;
}
.inp3{
    width: 100%;
    margin-top: 5px;
    opacity: 40%;
    border-radius: 5px;
}
.inp4{
    width: 100%;
    height: 100px;
    opacity: 40%;
    border-radius: 5px;
}


@media screen and (max-width: 750px) {
    .img-div-one{
        width: 100%;
        height: 100%;
        padding-top: 53px;
    }
}